.start-window {
  background: url("../img/1.png") no-repeat center center;
  background-size: cover;
  color: #F3F0EE;
  text-align: center;
}
.start-window .black {
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
}
.start-window__content {
  min-height: 493px;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
}
@media (max-width: 992px) {
  .start-window__content {
    display: flex;
    flex-direction: column;
  }
}
.start-window__content h1 {
  margin-bottom: 0;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 64px;
  line-height: 55px;
  text-align: center;
  vertical-align: bottom;
}
@media (max-width: 768px) {
  .start-window__content h1 {
    font-size: 32px;
  }
}
.start-window__left-side {
  position: absolute;
  left: 0;
  bottom: 10%;
  display: flex;
  flex-direction: column;
  gap: 28px;
}
