/* 
 ---------------------------------
 -------- Главная страница -------
 ---------------------------------
 */

.start-window {
    background     : url('../img/1.png') no-repeat center center;
    background-size: cover;
    color          : #F3F0EE;
    text-align     : center;
}

.start-window .black {
    background: #00000066;
    width     : 100%;
    height    : 100%;
}

.start-window__content {
    min-height     : 775px;
    display        : flex;
    align-items    : center;
    position       : relative;
    justify-content: center;
}

.start-window__content h1 {
    font-family   : Montserrat;
    font-weight   : 400;
    font-size     : 64px;
    line-height   : 68px;
    text-align    : center;
    vertical-align: bottom;
    margin-bottom : 0;
}

.start-window__content h1 span {
    font-weight: 600;
}

.start-window__buttons {
    margin-top     : 50px;
    display        : flex;
    justify-content: center;
    gap            : 20px;
    flex-wrap      : wrap;
}

.start-window__buttons a {
    font-family     : Montserrat;
    font-weight     : 600;
    font-size       : 18px;
    line-height     : 18px;
    color           : #fff;
    text-decoration : none;
    background-color: #C25D49;
    padding         : 14px 32px;
    border-radius   : 40px;
    transition      : background-color 0.3s ease, color 0.3s ease;
}

.start-window__buttons a:hover {
    background-color: #fff;
    color           : #C25D49;
}

.start-window__left-side {
    position        : absolute;
    left            : 0;
    bottom          : 10%;
    transform       : rotate(-90deg) translateY(-50%);
    transform-origin: left top;
    margin-left     : 20px;
}

.start-window__left-side .left-side__content {
    display    : flex;
    align-items: center;
    gap        : 48px;
}

.start-window__left-side .left-side__content p {
    margin: 0;
}

.start-window__left-side .left-side__content hr {
    width : 150px;
    margin: 0;
}

.start-window__left-side__socials {
    display: flex;
    gap    : 28px;
}

.start-window__additional {
    position       : absolute;
    bottom         : 80px;
    right          : 0;
    display        : flex;
    flex-wrap      : wrap;
    gap            : 100px;
    width          : 100%;
    justify-content: space-between;
    padding-left   : 100px;
    align-items    : center;
}

.start-window__additional .additional__item:first-child p {
    margin    : 0;
    max-width : 400px;
    text-align: start;
}

.start-window__additional .additional__item:last-child {
    margin-top: 38px;
}

.start-window__additional .additional__item:last-child a {
    display        : flex;
    align-items    : center;
    gap            : 18px;
    margin         : 0;
    font-family    : Montserrat;
    font-weight    : 400;
    font-size      : 18px;
    line-height    : 24px;
    color          : #fff;
    text-decoration: none;
}

.start-window__additional .additional__item:last-child a {
    text-decoration: none;
}

@media (max-width: 992px) {
    .start-window__additional {
        display: none;
    }

    .start-window__left-side {
        display: none;
    }

    .start-window__buttons a {
        width: 100%;
    }
}

@media (max-width: 575px) {
    .start-window__text h1 {
        font-size: 48px;
    }
}

@media (max-width: 400px) {
    .start-window__text h1 {
        font-size: 38px;
    }
}


/* 
 ---------------------------------
 ----- Слайдер с партнерами ------
 ---------------------------------
 */

.partners-carousel {
    padding-top   : 160px;
    padding-bottom: 160px;
    margin-bottom : 120px;
}

.partners-carousel {
    padding-top   : 160px;
    padding-bottom: 160px;
}

.partners-carousel__left-side p {
    max-width    : 250px;
    margin-bottom: rgb(253, 213, 213);
    font-family  : Montserrat;
    font-weight  : 400;
    font-size    : 16px;
    line-height  : 24px;
    color        : #383838;
}

.partners-carousel__right-side p {
    font-family: Montserrat;
    font-weight: 500;
    font-size  : 24px;
    line-height: 30px;
    color      : #383838;
    margin     : 0;
}

.partners-carousel__slider {
    margin-top: 60px;
}

.partners-carousel__slider .owl-stage {
    display    : flex;
    align-items: center;
}