body,
html {
    background-color: #F3F0EE;
}

* {
    word-break: break-word;
}

.visually-hidden {
    position   : absolute !important;
    height     : 1px;
    width      : 1px;
    overflow   : hidden;
    clip       : rect(1px, 1px, 1px, 1px);
    white-space: nowrap;
    border     : 0;
    padding    : 0;
    margin     : -1px;
}

header {
    position        : absolute;
    z-index         : 3000;
    background-color: transparent;
    transition      : 0.3s background-color ease;
    width           : 100%;
}

.header {
    display        : flex;
    justify-content: space-between;
    padding-top    : 14px;
    padding-bottom : 14px;
    align-items    : center;
}

.header__menu,
.header__buttons {
    display    : flex;
    align-items: center;
    height     : fit-content;
}

.header-menu {
    display: flex;
    gap    : 14px;
}

.header-menu__item {
    font-family    : Montserrat;
    font-weight    : 400;
    font-size      : 16px;
    line-height    : 22px;
    color          : #F3F0EE;
    text-decoration: none;
    padding        : 8px;
    transition     : color 0.3s ease;
}

.header-menu__item:hover {
    color: #C25D49;
}

.header__buttons {
    display: flex;
    gap    : 20px;
}

.header__buttons .dropdown-menu {
    max-width    : fit-content;
    min-width    : min-content;
    border-radius: 8px;
    padding      : 0;
}

.header__buttons .dropdown-item {
    width: fit-content;
}

.header__buttons .dropdown-item:hover {
    background-color: #d9d9d9;
}

.header__buttons .dropdown-item:first-child:hover {
    border-top-left-radius : 8px;
    border-top-right-radius: 8px;
}

.header__buttons .dropdown-item:last-child:hover {
    border-bottom-left-radius : 8px;
    border-bottom-right-radius: 8px;
}

.header__buttons .dropdown .langs__select-btn {
    font-family    : Montserrat;
    font-weight    : 600;
    font-size      : 16px;
    line-height    : 24px;
    color          : #F3F0EE;
    text-decoration: none;
    transition     : 0.3s color ease;
    cursor         : pointer;
}

.header__buttons .dropdown .langs__select-btn:hover {
    color: #C25D49;
}

.header__buttons .dropdown .langs__select-btn:hover svg path {
    stroke: #C25D49;
}

.header__buttons .dropdown .langs__select-btn::after {
    content: none;
}

header.opened-menu {
    background-color: #F3F0EE;
}

.header.opened-menu .header__buttons .dropdown .langs__select-btn {
    color: #1f1f1f;
}

.header__buttons .dropdown .langs__select-btn svg path {
    transition: stroke 0.3s ease, fill 0.3s ease;
}

.header.opened-menu .header__buttons .dropdown .langs__select-btn svg path {
    stroke: #1f1f1f;
    fill  : none;
}

.header__burger {
    display        : none;
    background     : transparent;
    border         : 0;
    width          : 42px;
    height         : 36px;
    padding        : 6px;
    cursor         : pointer;
    align-items    : center;
    justify-content: center;
    flex-direction : column;
    gap            : 5px;
}

.header__burger .burger-line {
    width           : 100%;
    height          : 2px;
    background-color: #F3F0EE;
    display         : block;
    border-radius   : 8px;
    transition      : transform 0.3s ease, opacity 0.3s ease, background-color 0.3s ease;
}

.header.opened-menu .header__burger .burger-line {
    background-color: #1f1f1f;
}

.header__burger.active .burger-line:nth-child(1) {
    transform: translateY(7px) rotate(45deg);
}

.header__burger.active .burger-line:nth-child(2) {
    opacity: 0;
}

.header__burger.active .burger-line:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg);
}

.mobile-menu {
    position      : fixed;
    inset         : 0;
    z-index       : 2000;
    pointer-events: none;
}

.mobile-menu__panel {
    position        : absolute;
    top             : 0;
    right           : 0;
    width           : 100vw;
    height          : 100vh;
    background      : #F3F0EE;
    transform       : translateX(100%);
    transition      : transform 0.35s cubic-bezier(.2, .9, .2, 1);
    pointer-events  : auto;
    display         : flex;
    align-items     : stretch;
    overflow-y      : auto;
    background-color: #F3F0EE;
}

.mobile-menu.open .mobile-menu__panel {
    transform: translateX(0);
}

.mobile-menu__close {
    position   : absolute;
    top        : 18px;
    right      : 18px;
    font-size  : 34px;
    line-height: 1;
    color      : #F3F0EE;
    background : transparent;
    border     : none;
    cursor     : pointer;
    z-index    : 10;
}

.mobile-menu__content {
    width          : 100%;
    padding-top    : 149px;
    padding-bottom : 60px;
    display        : flex;
    flex-direction : column;
    justify-content: space-between;
    height         : fit-content;
    box-sizing     : border-box;
}

.mobile-menu__nav {
    display       : flex;
    flex-direction: column;
    margin-bottom : 40px;
    gap           : 14px;
}

.mobile-menu__link {
    color          : #000;
    text-decoration: none;
    font-family    : Montserrat;
    font-weight    : 500;
    font-size      : 16px;
    line-height    : 100%;
    text-align     : center;
}

.mobile-menu__actions {
    display       : flex;
    flex-direction: column;
    gap           : 12px;
    margin-bottom : 104px;
}

.mobile-menu__btn {
    color           : #F3F0EE;
    background-color: #C25D49;
    border-radius   : 200px;
    padding         : 8px 0;
    text-align      : center;
    display         : flex;
    width           : 100%;
    justify-content : center;
    font-family     : Montserrat;
    font-weight     : 600;
    font-size       : 14px;
    line-height     : 150%;
    text-align      : center;
}

.mobile-menu__footer {
    display       : flex;
    flex-direction: column;
    gap           : 14px;
    align-items   : flex-start;
}

.mobile-menu__phone {
    text-decoration: none;
    color          : #000;
    font-family    : Montserrat;
    font-weight    : 600;
    font-size      : 16px;
    line-height    : 100%;
    display        : flex;
    justify-content: center;
    width          : 100%;
    gap            : 7px;
}

.mobile-menu__socials {
    display        : flex;
    gap            : 24px;
    width          : 100%;
    justify-content: center;
}

.no-scroll {
    overflow: hidden;
    height  : 100vh;
}

@media (max-width: 992px) {
    .header {
        padding-top   : 15px;
        padding-bottom: 15px;
    }

    .header__logo img {
        height: 40px;
    }

    .header__menu {
        display: none !important;
    }

    .header__burger {
        display: flex;
    }

    .header__buttons {
        gap: 12px;
    }
}


/* 
 ----------------------------------
 ------------- Footer -------------
 ----------------------------------
 */

footer {
    background-color: #fff;
}

footer .footer__container {
    padding-bottom  : 32px;
    padding-top     : 177px;
    background-color: #f3f0ed;
}

.footer__content h2 {
    font-family  : Montserrat;
    font-weight  : 500;
    font-size    : 50px;
    line-height  : 55px;
    margin-bottom: 16px;
}

.footer__content p {
    font-family  : Montserrat;
    font-weight  : 400;
    font-size    : 16px;
    line-height  : 24px;
    margin-bottom: 15px;
}

.footer__contacts {
    display       : flex;
    flex-direction: column;
    width         : 100%;
    gap           : 8px;
    padding-bottom: 24px;
    border-bottom : 1px solid #CACACA;
    margin-bottom : 24px;
}

.footer__contacts a {
    font-family    : Montserrat;
    font-weight    : 600;
    font-size      : 16px;
    line-height    : 24px;
    text-align     : right;
    display        : flex;
    width          : 100%;
    justify-content: space-between;
    text-decoration: none;
    color          : #C25D49;
    gap            : 64px;
    transition     : color 0.3s ease;
    align-items    : center;
}

.footer__contacts a svg path {
    transition: fill 0.3s ease;
}

.footer__contacts a:hover {
    color: #222222;
}

.footer__contacts a svg {
    width    : 18px;
    height   : 18px;
    min-width: 18px;
}

.footer__contacts a:hover svg path {
    fill: #222222;
}

.footer__menu {
    display              : grid;
    grid-template-columns: 1fr 1fr;
    row-gap              : 12px;
    column-gap           : 85px;
}

.footer-menu__item {
    font-family    : Montserrat;
    font-weight    : 400;
    font-size      : 16px;
    line-height    : 24px;
    color          : #222222;
    text-decoration: none;
    transition     : color 0.3s ease;
}

.footer-menu__item.active {
    font-weight: 600;
}

.footer-menu__item:hover {
    color: #C25D49;
}

footer .developers__container {
    padding-bottom  : 16px;
    margin-top      : 8px;
    background-color: #f3f0ed;
}

footer .developers {
    border-radius  : 12px;
    display        : flex;
    flex-wrap      : wrap;
    justify-content: space-between;
    align-items    : center;
    padding-top    : 12px;
    padding-bottom : 12px;
    gap            : 24px;
}

footer .developers a {
    font-family    : Montserrat;
    font-weight    : 500;
    font-size      : 18px;
    line-height    : 40px;
    color          : #212121;
    text-decoration: none;
}

footer .developers a:hover {
    color: #C25D49;
}

@media (max-width: 992px) {
    .footer__content {
        margin-bottom: 24px;
    }

    footer .developers {
        flex-direction: column-reverse;
    }
}


/* 
 ---------------------------------
 -------- Главная страница -------
 ---------------------------------
 */

.start-window {
    background     : url('../img/1.png') no-repeat center center;
    background-size: cover;
    color          : #F3F0EE;
    text-align     : center;
}

.start-window .black {
    background: #00000066;
    width     : 100%;
    height    : 100%;
}


/* 
 ---------------------------------
 --------- Медиа запросы ---------
 ---------------------------------
 */

@media (max-width: 992px) {}